*{
    margin: 0;
    padding: 0;
}
header{
    background: #45a049;
}
nav{
    justify-content: space-between;
    display: flex;
    max-width: 1370px;
    margin: 0 auto;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-family: fantasy, Copperplate;
    cursor: pointer;
}
.in{
    color: white;
}
.out:hover{
    color: #cccccc;
}
.account{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 10%;
    background: #45a049;
}
.account img{
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}
#archive{
    background-color: #224d24;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.account button{
    width: 70%;
    background-color: #224d24;
    color: white;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-image: linear-gradient(  #224d24 , #45a049);
}
.account button:hover{
    background: #224d24;
}
.req{
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}
.req-body{
    padding: 10px;
    background: #f4fdf5;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}
.con{
    width: 30%;
    padding: 20px;
    overflow: auto;
}
.con-b{
    width: 50%;
    padding: 20px;
    overflow: auto;
}
.con-d{
    width: 30%;
    padding: 20px;
    overflow: auto;
}