*{
    font-family: sans-serif Tahoma;
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    background: #ececec;
    max-width: 1270px;
}
.main{
    display: flex;
    width: 100%;
    max-height: 100vh;
    background: #ececec;
}
.one{
    width: 80%;
    background: url("images/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.two{
    justify-content: center;
    align-items: center;
    padding: 60px;
    width: 55%;
    height: 75vh;
}
#heading{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#fpara{
    font-weight: bolder;
    font-size: 20px;
    font-family: fantasy, Copperplate;
    position: absolute;
    top: auto;
    padding-top: 180px;
    padding-left: 150px;
    color: darkgrey;
}
#spara{
    font-weight: bolder;
    font-size: 30px;
    font-family: monospace, "Lucida Grande";
    position: absolute;
    top: auto;
    padding-top: 140px;
    padding-left: 150px;
}
#tpara{
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace, "Lucida Grande";
}

form{
    border-radius: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    opacity: 80%;
    background-image: linear-gradient( #dedede , #ececec);
}
input[type=email], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #224d24;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
